form(id="profileForm")
	p Name:&nbsp;&nbsp;
		input(type="text", disabled="true", name="name", size=50, value=(profile.name || ""))
	p Source Port:&nbsp;&nbsp;
		select(name="sourceport")
			each key in Object.keys(data.sourceports)
				if(profile.sourceport === key)
					option(value=key selected)
						=key
				else
					option(value=key)
						=key
	p IWad:&nbsp;&nbsp;
		select(name="iwad")
			each key in Object.keys(data.iwads)
				if(profile.iwad === key)
					option(value=key selected)
						=key
				else
					option(value=key)
						=key
	p Options:&nbsp;&nbsp;
		input(type="text" name="options" size=70 value=profile.options || "")
	p WADs:&nbsp;&nbsp;
		table
			if( profile.wads )
				each wad in profile.wads
					tr(class="wadRow" id="wad" + wad)
						td
							button(name="deleteWad" formaction="javascript:deleteWad(\"" + profile.name + "\",\"" + wad + "\")") Delete
						td
							span
								=wad
	p Add Wad:&nbsp;&nbsp;
		input(type="file" name="newWad" id="newWad" accept=".pk3,.pk7,.wad,.zip" onchange="addWad(\"" + profile.name + "\",this.files);" )
	p Autoload Profile:&nbsp;&nbsp;
		select(name="autoloadProfile")
			each key in Object.keys(data.autoloadProfiles)
				if(profile.autoloadProfile === key)
					option(value=key selected)
						=key
				else
					option(value=key)
						=key
	button(name="save" type="submit" formaction="javascript:profileForm(document.getElementById('profileForm'));") Save
	button(name="cancel" formaction="javascript:changeContext(contexts.profiles);") Cancel
