form(id="profileForm")
	input(type="hidden", name="uuid", value=profile.uuid)
	p Name:&nbsp;&nbsp;
		input(type="text", name="name", size=50, value=(profile.name || ""))
	p Source Port:&nbsp;&nbsp;
		select(name="sourceport")
			each key in Object.keys(data.sourceports)
				if(profile.sourceport === key)
					option(value=key selected)
						=key
				else
					option(value=key)
						=key
	p IWad:&nbsp;&nbsp;
		select(name="iwad")
			each key in Object.keys(data.iwads)
				if(profile.iwad === key)
					option(value=key selected)
						=key
				else
					option(value=key)
						=key
	p Options:&nbsp;&nbsp;
		input(type="text" name="options" size=70 value=profile.options || "")
	p WADs:&nbsp;&nbsp;
		table
			each wad in profile.wads
				tr(class="wadRow" id="wad" + wad)
					td
						button(name="deleteWad" formaction="javascript:deleteWad(\"" + wad + "\")") Delete
					td
						input(type="text" class="wad" name="wads" disabled="true" size=40 value=wad)
					td
						button(class="wadUp" formaction="javascript:moveWad('" + wad + "','up')") ↑
					td
						button(class="wadDown" formaction="javascript:moveWad('" + wad + "','down')") ↓
	p Add Wad:&nbsp;&nbsp;
		input(type="file" name="newWad" id="newWad" accept=".pk3,.pk7,.wad,.zip,.deh" onchange="addWad(\"" + profile.uuid + "\",this.files);" multiple)
	p Autoload Profile:&nbsp;&nbsp;
		select(name="autoloadProfile")
			each autoloadProfile in data.autoloadProfiles
				if(profile.autoloadProfile === autoloadProfile.uuid)
					option(value=autoloadProfile.uuid selected)
						=autoloadProfile.name
				else
					option(value=autoloadProfile.uuid)
						=autoloadProfile.name
		button(name="editAutoloadProfileFromProfile" formaction="javascript:editAutoloadProfile('"+profile.autoloadProfile+"')") Edit
	button(name="save" type="submit" formaction="javascript:profileForm(document.getElementById('profileForm'));") Save
	button(name="cancel" formaction="javascript:changeContext(contexts.profiles);") Cancel
